@font-face {
  font-family: 'custom';  /* project id 464975 */
  src: url('https://at.alicdn.com/t/font_464975_69kv6b1eo3nxw29.eot');
  src: url('https://at.alicdn.com/t/font_464975_69kv6b1eo3nxw29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_464975_69kv6b1eo3nxw29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_464975_69kv6b1eo3nxw29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_464975_69kv6b1eo3nxw29.svg#custom') format('svg');
   /*url('iconfont.ttf') format('truetype');*/
}

